{% include 'admin_header.html' %}
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="static/assets/img/rh_vehicle_admin.jpg" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Admin Dashbord</h2>
        <p> <span class="typed" data-typed-items="Verify Mechanic, Verify Fuel Provider, View Request, View Feedback, & Compalints">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->


  </main>

  {% include 'footer.html' %}