<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <center>
        <h1>welcome</h1>
        <a href="/login">login</a>
    </center>
    
</body>
</html> -->

{% include 'public_header.html' %}
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="static/assets/img/road.jpg" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>DriveFuel Connect</h2>
        <p>Provide <span class="typed" data-typed-items="Road Assitance, Fuel Supply, Mechanic, Service Center">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->

  </main>

  {% include 'footer.html' %}

